# CI Direct
CI_BASEDIR=''
CI_FILENAME=''

# IBKR
IBKR_BASEDIR=''
IBKR_FILENAME=''

# Closed Accounts
CLOSED_BASEDIR=''
CLOSED_FILENAME=''

# IBKR Flex Web Service
IBKR_FLEX_TOKEN=
IBKR_FLEX_QUERY_ID=
