# CI Direct
CI_BASEDIR=''
CI_FILENAME=''

# IBKR
IBKR_BASEDIR=''
IBKR_FILENAME=''

# Closed Accounts
CLOSED_BASEDIR=''
CLOSED_FILENAME=''

# IBKR Flex Web Service
IBKR_FLEX_TOKEN=
IBKR_FLEX_QUERY_ID=
IBKR_INTRADAY_FLEX_QUERY_ID=

# MySQL (tars)
MYSQL_HOST=tars
MYSQL_USER=admin
MYSQL_PASSWORD=
